/*etiqueta HTML VA DIRECTAMENTE EL NOMBRE*/
/*clases va con "." adelante */
/* ID va con "#" adelante */



body{
background-color: rgb(0, 0, 0);
color: rgb(91, 88, 94);
}

#redes{
    text-align: center;
    margin: auto;
}

ul li{
list-style-type: none;
margin: -3.5%;      /*adaptacion a todas las pantallas*/
}

.nombreperfil{
    font-size: 5em;     /*medidas relativas*/
}


.apellido{
    color: aliceblue;
}

#sobre {
    background-color: rgb(152, 201, 177);
}

.logoAp{
    filter: invert(1);
}
#navbar{
     background-color: yellow;
    }